---
import PBItem from '@components/cards/pb-item.astro'
import { ShowMore } from '@components/showmore'

interface Props {
  class?: string
  heading?: string
  list: any[]
  id: string
  size?: 'normal' | 'small'
  type: 'product' | 'brand'
}

const {
  class: className,
  heading,
  list,
  id,
  type,
  size = 'normal'
} = Astro.props
const previewList = list.slice(0, 10)
const extendedList = list.slice(10)
---

<div class:list={['flex flex-col items-center  gap-4', className]}>
  <h3 class='text-4xl font-bold uppercase mb-10 font-gr'>
    {heading}
  </h3>
  <div class='flex flex-wrap gap-8 md:gap-14 place-content-center'>
    {
      previewList
        .slice(0, 10)
        .map((pb) => (
          <PBItem
            name={pb.name}
            image={pb.image}
            size={size}
            slug={pb.slug}
            pvs={`/${type}/`}
          />
        ))
    }{
      extendedList.length > 0 &&
        extendedList.map((pb) => (
          <PBItem
            name={pb.name}
            image={pb.image}
            class={`extended-list-${id} hidden`}
            size={size}
            slug={pb.slug}
            pvs={`/${type}/`}
          />
        ))
    }
  </div>{
    extendedList.length > 0 && (
      <ShowMore
        client:load
        id={id}
        className='flex items-center gap-2 text-[#003DA6] font-medium px-3 py-1.5 '
      />
    )
  }
</div>
